body{
    background-image: url(imagens/fundo.png);
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    color: white;
}
h1{
    margin: 0;
}
header{
    background-color: rgb(5, 71, 97);
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ol{
    display: flex;
    list-style: none;
    gap: 22px;
}
header li{
    font-size: 21px;
}
header a{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}
header a:hover{
    color:rgb(139, 130, 115);
}
main{
    background-color: rgba(38, 136, 175, 0.9);
    padding: 20px 0;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 20px;
}
.conteudo{
    display: flex;
    padding: 0 30px;
    gap: 30px;
}
.organizadores{
    display: flex;
    padding: 0 30px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.coordenadores{
    display: flex;
    padding: 10px 30px;
    justify-content: space-around;
}
section h2{
    text-align: center;
    font-size: 32px;
}
section p{
    font-size: 22px;
    background-color: rgba(89, 185, 223, 0.9);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.imagem1{
    border-radius: 14px;
}
.imagem2{
    width: 100%;
    max-width: 470px;
    border-radius: 10px;
}
.imagem4{
    width: 100%;
    max-width: 700px;
    border-radius: 14px;
}
.imagem5{
    width: 100%;
    max-width: 270px;
    border-radius: 14px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #054761;
    padding: 10px 170px;
}
.marca{
    display: flex;
    align-items: center;
    max-width: 600px;
}
.imagem3{
    width: 200px;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer li{
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    transition: color 0.5s ease;
}
footer a:hover{
    color: rgb(139, 130, 115)
}