body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(Imagens/plano_de_fundo.png);
    background-size: cover;
    color: #F9FAFB;
    background-color: #F9FAFB;
    margin: 0;
}


header{
    background-color: #1F2937;
    display: flex;
    padding: 10px 250px;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #F9FAFB;
    transition: color 0.5s ease;
}
header a:hover{
    color: #D4AF37;
}
nav ol{
    display: flex;
    gap: 25px;
}
nav li{
    list-style-type: none;
    font-size: 25px;
}


main{
    background-color: #374151;
    max-width: 1200px;
    width: 100%;
    padding: 20px 0px;
    margin: 20px auto;
    border-radius: 15px;
}
section{
    padding: 0 30px;
}
section h2{
    color: #D4AF37;
    text-align: center;
    font-size: 30px;
}
section p{
    font-size: 23px;
    line-height: 1.2;
}
section a{
    color: white;
    transition: color 0.5s ease;
}
section a:hover{
    color: #D4AF37;
}
.conteudo{
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 30px;
}
.conteudo img{
    width: 400px;
    border-radius: 15px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0;
}
.card{
    background-color: #1F2937;
    padding: 10px 20px;
    width: 300px;
    border-radius: 15px;
    transition: 0.5s ease;
}
.card:hover{
    transform: translateY(-8px);
}
.card img{
    width: 100%;
    border-radius: 15px;
}
.card h3{
    color: #F9FAFB;
    font-size: 25px;
    text-align: center;
}
.card p{
    font-size: 22px;
}
.imagem_sistema{
    width: 100%;
    max-width: 370px;
    height: auto;
    border-radius: 15px;
}
.imagem_equipamento{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
}
.imagem_simples{
    width: 100%;
    max-width: 430px;
    height: auto;
    border-radius: 15px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 30px 250px;
}
.marca{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 23px;
}
.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    list-style-type: none;
}
.logotipo{
    width: 100%;
    max-width: 200px;
    border-radius: 300px;
}
