html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    color: black;
}

header{
    background-image: url(imagens/bg.png);
    background-size: cover;
    text-align: center;
    padding: 0.1rem 0;
}
header h1{
    font-size: 2.5rem;
    padding: 3rem 0;
}
header a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}
header a:hover{
    color: #faec6e;
}
header ol{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 1rem;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.322);
}

main{
    max-width: 75rem;
    margin: auto;
}
main section{
    text-align: center;
    padding: 2rem;
}
article{
    padding: 0 0 1rem 0;
    text-align: center;
}
article h2{
    padding: 2rem;
    font-size: 2rem;
}
article img{
    border-radius: 1rem;
    max-width: 100%;
}
.blocos{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.8rem 0;
}
.blocos div{
    background-image: url(imagens/bg-boxes.jpg);
    background-size: cover;
    width: 20rem;
    padding: 1.4rem;
    border-radius: 1rem;
    transition: all 0.5s ease;
}
.blocos div:hover{
    transform: translateY(-8px)
}
.blocos h3{
    font-size: 1.6rem;
    color: #faec6e;
}
.blocos a{
    color: white;
    text-decoration: none;
}
.blocos a:hover{
    text-decoration: underline;
}
#professor img{
    width: 17rem;
    border-radius: 1rem;
}
#disciplinas div{
    background-image: none;
    background-color: #675F53;
    width: 14rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#disciplinas img{
    width: 10rem;
}

footer{
    background-image: url(imagens/bg.png);
    background-size: cover;
    padding: 0.4rem 4rem;
}
footer ul{
    display: flex;
    justify-content: end;
    gap: 2rem;
    list-style-type: none;
}
footer nav img{
    transition: all 0.5s ease;
}
footer nav img:hover{
    transform: scale(1.2);
}
